{% extends 'main.html' %}



{% block container %}
{% load static %}

{% if orders  %}

<div class="basket">
{% for item in orders %}

<div class="basket-content">
    <div class="basket-grid-1">
<img src="{{item.image.url}}" alt="" width="50%">
</div>
<div class="basket-grid-2">
<a href="{% url 'user:order' item.id %}"><h2> {{ item.name }} </h2></a>
<a href="{% url 'user:order' item.id %}" style="font-size: larger;"><p> {{ item.created_at }} </p></a>
</div>
</div>


{% endfor %}
</div>

{% endif %}



{% endblock %}