{% extends 'main.html' %}



{% block container %}
{% load static %}

{% if orders  %}

<div class="box" style="display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr;">
{% for item in orders %}

<div class="content" style="border: 1px solid black; text-align: center;">
<a href="{% url 'user:order' item.id %}"><h2> {{ item.name }} </h2></a>
<a href="{% url 'user:order' item.id %}"><h3>{{ item.price}} TL</h3></a>
<a href="{% url 'user:order' item.id %}"><p> {{ item.content }} </p></a>
</div>


{% endfor %}
</div>

{% endif %}



{% endblock %}